<input type="number" [(ngModel)]="searchedId$" name="id" placeholder="ID" (change)="onInputChange($event)"><input type="text" [(ngModel)]="searchedFirstname$"  name="firstname" placeholder="First Name" (change)="onInputChange($event)"><input type="text" [(ngModel)]="searchedLastname$"  name="lastname" placeholder="Last Name" (change)="onInputChange($event)">
<table *ngIf="(displayedEmployees$ | async) as employees; else load">
  <thead>
  <tr>
    <th>ID Number</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td class="clickable" (click)="onEmployeeClick(employee)">{{ employee.id }}</td>
    <td class="clickable" (click)="onEmployeeClick(employee)">{{ employee.firstName }}</td>
    <td class="clickable" (click)="onEmployeeClick(employee)">{{ employee.lastName }}</td>
  </tr>
  </tbody>
</table>

<ng-template #load>
  <div>Loading...</div>
</ng-template>
