<div class="top-bar">
  <div class="logo">Logo</div>
  <div class="title">Dein Text</div>
  <app-logout-button></app-logout-button>
</div>

<body class="content">
    <app-employee-list class="left-side col-lg-8"></app-employee-list>
    <app-details class="right-side col-lg-4"></app-details>
</body>

<div class="bottom-bar">
  <div class="left-side col-8">
    <button (click)="handleNewEmployee()">Mitarbeiter hinzufügen</button>
  </div>
  <div class="right-side col-4">
    <button (click)="openSkillliste()">Skillliste</button>
  </div>
</div>

