<h2 mat-dialog-title>Skillliste</h2>
<mat-dialog-content>
  <form class="row">
    <div class="col-lg-5 title">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newSkillName">
    </div>
    <div class="col-lg-5 title">
    </div>
    <button class="col-lg-2" type="button" (click)="addNewEntry()"><img
      src="assets/check-solid.svg" alt="External Asset" height="16" width="16"></button>
  </form>

  <table class="table custom-table" *ngIf="(allSkills$ | async) as skills; else load">
    <thead>
    <tr>
      <th>Skill</th>
      <th>Skill ID</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skills">
      <td>{{ skill.skill }}</td>
      <td>{{ skill.id }}</td>
      <td><button type="button" class="btn btn-danger" (click)="deleteSkill(skill.id)"><img
        src="assets/trash-can-solid.svg" alt="External Asset" height="16" width="16"></button></td>
    </tr>
    </tbody>
  </table>

  <ng-template #load>
    <div>Loading...</div>
  </ng-template>
</mat-dialog-content>


